root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx,json,css,html,sh}]
indent_style = space
indent_size = 2
max_line_length = 80

[*.css]
indent_style = space
indent_size = 4
max_line_length = 40

[*.{java,gradle}]
indent_style = tab
indent_size = 4
max_line_length = 150

[*.md]
trim_trailing_whitespace = false

[*.{sql,hql}]
insert_final_newline = false
