[submodule ".vim/bundle/nerdtree.git"]
	path = .vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim.git"]
	path = .vim/bundle/vim.git
	url = https://github.com/dracula/vim.git
