[submodule "vim/bundle/nerdtree.git"]
	path = vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim.git"]
	path = vim/bundle/vim.git
	url = https://github.com/dracula/vim.git
[submodule "vim/bundle/editorconfig-vim.git"]
	path = vim/bundle/editorconfig-vim.git
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/ctrlp.vim.git"]
	path = vim/bundle/ctrlp.vim.git
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-airline.git"]
	path = vim/bundle/vim-airline.git
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/vim-airline-themes.git"]
	path = vim/bundle/vim-airline-themes.git
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/bundle/hive.vim.git"]
	path = vim/bundle/hive.vim.git
	url = https://github.com/autowitch/hive.vim.git
[submodule "vim/bundle/tern_for_vim.git"]
	path = vim/bundle/tern_for_vim.git
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "vim/bundle/supertab.git"]
	path = vim/bundle/supertab.git
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/indentLine.git"]
	path = vim/bundle/indentLine.git
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/bundle/vim-javascript.git"]
	path = vim/bundle/vim-javascript.git
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/ultisnips.git"]
	path = vim/bundle/ultisnips.git
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/vim-snippets.git"]
	path = vim/bundle/vim-snippets.git
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/delimitMate.git"]
	path = vim/bundle/delimitMate.git
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/html5.vim.git"]
	path = vim/bundle/html5.vim.git
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/csv.vim.git"]
	path = vim/bundle/csv.vim.git
	url = https://github.com/vim-scripts/csv.vim.git
[submodule "vim/bundle/vim-notes.git"]
	path = vim/bundle/vim-notes.git
	url = https://github.com/xolox/vim-notes.git
[submodule "vim/bundle/vim-misc.git"]
	path = vim/bundle/vim-misc.git
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/bundle/vim-jsx.git"]
	path = vim/bundle/vim-jsx.git
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/bundle/vim-colors-solarized.git"]
	path = vim/bundle/vim-colors-solarized.git
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-largefile.git"]
	path = vim/bundle/vim-largefile.git
	url = https://github.com/jreybert/vim-largefile.git
[submodule "vim/bundle/ale.git"]
	path = vim/bundle/ale.git
	url = https://github.com/w0rp/ale.git
