snippet arrayToObject "[{key1: {..} }, {key2: {..} }] => { key1: {..} ,key2: {..} }"
const arrayToObject = array => array.reduce(
    (resultObject, object) => {
      resultObject[Object.keys(object)[0]] = object[Object.keys(object)[0]]
      return resultObject
    },
   {}
)
endsnippet
snippet oKey "optional key"
...${1:key_to_check} && {${2:new_key}: $1},
endsnippet
