snippet tc
try {
  ${1}
}
catch( error ){
  throw error
}
endsnippet

snippet tcf
try {
  ${1}
}
catch( error ){
  throw error
}
finally {

}
endsnippet

snippet cl
console.log('${1}',${2})
endsnippet
